# requirements.txt

# Machine Learning Libraries
scikit-learn==1.4.0
imbalanced-learn==0.9.1
tensorflow==2.15.0
keras==3.0.1

# Data Manipulation and Analysis
pandas==1.4.0
numpy==1.22.1

# Data Visualization
matplotlib==3.5.1
seaborn==0.11.2

# Streamlit and Ngrok
streamlit==1.30.0
pyngrok==5.1.0

# Miscellaneous
joblib==1.2.0
gdown==4.2.1
